conda create -n breinstein python=3.9
conda activate breinstein
conda install numpy
conda install pandas
conda install seaborn
conda install collections
conda install surprise
conda install -c anaconda scikit-learn
conda install -c conda-forge jupyterlab
conda install -c conda-forge matplotlib
